{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Coś do wstawienia
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'home/css/product_cart.css' %}">
{% endblock %}

{% block list %}
        <div id="product">
            {% if cart_product %}
            <div id="image"><img src="{{ product.image }}"></div>
            <div id="details">

                {%for cart in cart_product%}
                <form method="POST" action="{% url 'home:cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="del_id" value="{{cart.0.id}}">
                    <input type="submit" value="Usuń"></form>
                {% endfor %}
                    {%for cart in cart_product%}
                    {{cart.0.name}}
                <form method="POST" action="{% url 'home:cart' %}">{% csrf_token %}
    {{cart.2}}  <input type="number" name="product_quantity" value="{{cart.1}}" size="4" min="1" max="{{cart.0.storage}}">
    <input type="hidden" name="id_product" value="{{cart.0.id}}">
                    <input type="hidden" name="update" value="True">
                    <input type="submit" value="Aktualizuj">
                    </form>
                    {% endfor %}
                {% if total %}{{ total }}{% endif %}
                <form method="POST" action="{% url 'home:cart' %}">
                    <input type="submit" value="Do kasy">
                </form>
            </div>
            </div>
            <div style="clear: both;"></div>
            <div id="description">
                {{ product.description }}
            </div>
{% else %}Twój koszuk jest pusty{% endif %}
        </div>

{% endblock %}
