{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Strona Główna
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'home/css/list.css' %}">
{% endblock %}


{% block list %}
<UL id="list">
{% for question in object_list %}
    <li>
        <div class="cell">
            <a href="{% url 'home:detail' question.id %}"><img class="image" src="{{ question.image }}"></a>
            <div class="product_title"><a href="{% url 'home:detail' question.id %}">{{ question.name}}</a></div>
            <div class="product_price">{{ question.price }} zł</div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;">
            
            </div>
    </li>
{% endfor %}
        
</UL>
{% endblock %}
