{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Coś do wstawienia
{% endblock %}

{% block style %}

{% endblock %}

{% block list %}
<div class="container">
    <div class="row product">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 image"><img class="img-fluid" src="{{ product.image }}"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 details">
            <p class="title">{{ product.name }}</p>
            <p class="price">{{ product.price }} zł</p>
            <div class="shopping_cart">{% include "home/shoping_cart_add_form.html" %}</div>
        </div>
        <p class="col-12 description">{{ product.description }}</p>
    </div>
</div>
{% endblock %}
