{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Coś do wstawienia
{% endblock %}

{% block list %}
<div class="container">
    <div class="row product">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 image"><img class="img-fluid" src="{{ product.image }}"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 details">
            <p class="title">{{ product.name }}</p>
            <p class="price">{{ product.price }} zł</p>
            <div class="shopping_cart">

                <form method="POST" action="{% url 'home:cart' %}">
                    {% csrf_token %}
                    <input type="number" name="product_quantity" value="1" size="4" min="1" max="{{ product.storage }}">
                    <input type="hidden" name="id_product" value="{{ product.id }}">
                     z {{ product.storage }} {{ product.unit }}
                    <button class="btn btn-primary add_cart" type="submit" name="operation" value="add_to_cart"><i class="bi bi-cart4"></i></button>
                                    </form>
            </div>
        </div>
        <p class="col-12 description">{{ product.description }}</p>
    </div>
</div>
{% endblock %}
