{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Lista Produktów
{% endblock %}

{% block style %}

{% endblock %}

{% block list %}
{% if not object_list %}
Nie ma takiej strony
{% endif %}
{{ undo }}
<div class="container">
    <div class="row">
{% for question in object_list %}
<div class="col-12 col-md-6 col-lg-4 col-xxl-3 cell">
    <a href="{% url 'home:detail' question.id %}"><img class="image" src="{{ question.image }}"></a>
    <a href="{% url 'home:detail' question.id %}"><p class="product_text">{{ question.name}}</p></a>
    <a href="{% url 'home:detail' question.id %}"><p class="product_text product_price">{{ question.price }} zł</p></a>
    <div class="shoping_cart">{% include "home/shoping_cart_add_form.html" %}</div>
</div>
{% endfor %}
</div>
</div>
<!--
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pierwsza</a>
            <a href="?page={{ page_obj.previous_page_number }}">wstecz</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">dalej</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
        {% endif %}
    </span>
</div>
-->
<nav aria-label="Podstrony">
    <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Wstecz</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#"> <span aria-hidden="true">&laquo;</span></a></li>
        <li class="page-item disabled"><a class="page-link" href="#">Wstecz</a></li>
        {% endif %}
        <li class="page-item disabled"><span class="page-link page_number">{{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</span></li>
        {% if page_obj.has_next %}
        <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">Dalej</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Dalej</a></li>
      <li class="page-item disabled"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}