ul {
    padding-left: 0px;
    margin: 0;
    list-style-type: none;
}

.cell {
    width: min-content;
    height: min-content;
    background-color: rgb(221, 221, 221);
    margin: 6px;
    padding-bottom: 10px;

}

.cell:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.cell img {
    width: 300px;
    height: 400px;
    padding: 10px;
}

#list li {
    float: left;
    padding: 0;
}

.product_title {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    width: auto;
    float: left;
    
}

.product_price {
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-right: 5px;
}