body {
    background-color: rgb(221, 211, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: rgb(212, 209, 209);
}

header {
    width: auto;
    padding: 15px;
    background-color: rgb(204, 204, 204);
}

.nav-link {
    font-size: 20px;
}

.nav_cart {
    position: relative;
    padding: 0px;
    margin: 0px;
}
.nav_cart a p {
    position: absolute;
    top: -2%;
    left: 32%;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: red;
    /*border-radius: 50%;*/
}

.bi-cart4 {
    font-size: 20px;
}

.add_cart {
    border-radius: 20%;
}

a {
font-style: normal;
text-decoration: none;
color: black;
}


footer {
    width: 1200;
    height: 200px;
    background-color: rgb(177, 177, 177);
}

@media (min-width: 992px) {
    .mobile_nav {
        display: none;
    }
}

@media (max-width: 991px) {
    .full_nav {
        display: none;
    }
}
