body {
    background-color: rgb(221, 211, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 207, 207);
}
#logo{
    padding: 15px;
}

#content {
    float: left;
    width: 1000px;
    height: auto;
}

#nav_cart {
text-align: right;
padding: 20px;;
font-size: 20px;
font-weight: bold;
}

#list_category {
    width: 200px;
    float: left;
}

#list_category ul {
   padding-left: 0px;
   margin: 0;
   list-style-type: none;
}

#list_category ul li div{
    width: auto;
    height: min-content;
    background-color: rgb(230, 230, 230);
    border-bottom: dotted;
    border-width: 1px;
    text-align: center;
    font-size: 16px;
}

#list_category ul li div:hover{
    background-color: rgb(240, 240, 240);
}

a {
font-style: normal;
text-decoration: none;
color: black;
}

a:hover {
    cursor: pointer;
}

#futer {
    clear: both;
    width: 1200;
    height: 200px;
    background-color: rgb(177, 177, 177);
}

