ul {
    padding-left: 0px;
    margin: 0;
    list-style-type: none;
}

.cell {
    width: min-content;
    height: 350px;
    background-color: rgb(221, 221, 221);
    margin: 6px;
    padding-bottom: 10px;

}

.cell:hover {
    background-color: rgb(255, 255, 255);
}

.image {
    width: 168px;
    height: 230px;
    padding: 10px;
}

#list li {
    padding: 0;
    float: left;
}

.product_title {
    font-size: 15px;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.product_price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: auto;
}

.pagination{
width: auto;
height: 35px;
margin-left: 6px;
padding-top: 40px;
text-align: center;
}
