.cell {
    height: 100%;
    background-color: rgb(221, 221, 221);
    padding: 5px;
    border: 5px solid rgb(212, 209, 209);
}

.cell:hover {
    background-color: rgb(255, 255, 255);
}

.cell a {
    color:black
}

.image {
    display: block;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.product_text {
    font-weight: bold;
    text-align: center;
}


.product_price {
    font-size: 18px;
}


.shoping_cart {
    padding-bottom: 5%;
    padding-right: 5%;
    text-align: right;
}

.page_number {
    color: blue !important;
}

.card-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

