#product {
    width: auto;
    height: auto;
    background-color: rgb(150, 76, 76);
}

#image {
    padding: 70px;
    background-color: burlywood;
    float: left;
}

#image img {
    width: 350px;
    height: auto;
}

#details {
    width: 510px;
    float: left;
    background-color: rgb(25, 136, 139);
}

#title_product {
    text-align: left;
    font-size: 27px;
    font-weight: bold;
    padding: 35px;
    background-color: crimson;
}

#price {
    text-align: right;
    font-size: 35px;
    font-weight: bold;
    padding: 32px;
    color: rgb(15, 28, 139);
    background-color: rgb(20, 220, 127);
}

#shopping_cart {
    font-size: 25px;
}

#description {
    font-size: 17px;
    padding: 40px;
}