body {
  background-color: #ddd3d3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

body .container a {
  font-style: normal;
  text-decoration: none;
}

body .container header {
  padding: 15px;
  background-color: #cccccc;
}

body .container .nav-link {
  font-size: 20px;
}

body .container .btn-primary {
  border-radius: 20%;
  background-color: #00a700;
}

body .container main {
  background-color: #d4d1d1;
}

body .container main img {
  display: block;
  margin: 0 auto;
}

body .container main nav {
  margin-top: 50px;
}

body .container main nav .page_number {
  color: black !important;
}

body .container main .form_order {
  padding: 30px;
  background-color: white;
  border: 2px solid #929292;
  margin: 20px auto;
}

body .container main .form_order .btn-primary {
  border-radius: 0%;
  background-color: #0d6efd;
}

body .container main .total_price {
  text-align: right;
  padding: 15px;
  font-size: 20px;
}

body .container main .list {
  height: 100%;
  background-color: #dddddd;
  padding: 5px;
  border: 5px solid #d4d1d1;
}

body .container main .list .shoping_cart {
  padding-bottom: 5%;
  padding-right: 5%;
  text-align: center;
}

body .container main .list .shoping_cart .bi-cart4 {
  font-size: 20px;
}

body .container main .list a {
  color: black;
}

body .container main .list .image {
  height: 300px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

body .container main .list .product_text {
  font-weight: bold;
  text-align: center;
}

body .container main .list .product_price {
  font-size: 18px;
}

body .container main .list:hover {
  background-color: white;
}

body .container main .product .image {
  padding: 30px;
  background-color: #c0bfbf;
}

body .container main .product .description {
  font-size: 17px;
  padding: 40px;
  background-color: #dddddd;
}

body .container main .product .details {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #cacaca;
}

body .container main .product .details .title {
  font-size: 24px;
  padding: 15px;
  background-color: #c0bfbf;
}

body .container main .product .details .price {
  text-align: right;
  font-size: 22px;
  padding: 12px;
  color: black;
  background-color: #c0bfbf;
}

body .container main .product .details .shopping_cart {
  font-size: 15px;
  text-align: right;
  padding: 15px;
  background-color: #c0bfbf;
}

body .container main .product .details .shopping_cart .bi-cart4 {
  font-size: 22px;
}

body .container main .container .table img {
  width: 70px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

body .container main .container .table form {
  text-align: center;
}

body .container main .container .table form div {
  margin: 5px;
}

@media (max-width: 991px) {
  body .container main .container .table form div button {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  body .container main .container .table .tab-full {
    display: none;
  }
}

body .container footer {
  width: 1200;
  height: 200px;
  background-color: #b1b1b1;
}

@media (min-width: 992px) {
  body .container .mobile_nav {
    display: none;
  }
}

@media (max-width: 991px) {
  body .container .full_nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */