

body {
    background-color: rgb(221, 211, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .container {
    
        a {
            font-style: normal;
            text-decoration: none;
            color: black;
        }


        header {
            padding: 15px;
            background-color: rgb(204, 204, 204);
        }

        .nav-link {
            font-size: 20px;
        }

        .btn-primary {
            background-color:rgb(0, 167, 0);
        }
        
        .nav_cart {
            position: relative;
            padding: 0px;
            margin: 0px;

            a{
                p {
                    position: absolute;
                    top: -2%;
                    left: 32%;
                    margin: 0px;
                    font-size: 20px;
                    font-weight: bold;
                    color: red;
                }
            }

            .bi-cart4 {
                font-size: 20px;
            }
        }

        main {
            background-color: rgb(212, 209, 209);

            img {
                display: block;
                margin: 0 auto;
            }

            .btn-primary {
                border-radius: 20%;
            }

            nav {
                margin-top: 50px;

                .page_number {
                    color: rgb(0, 0, 0) !important;
                }
            }

            .list {
                height: 100%;
                background-color: rgb(221, 221, 221);
                padding: 5px;
                border: 5px solid rgb(212, 209, 209);

                .shoping_cart {
                    padding-bottom: 5%;
                    padding-right: 5%;
                    text-align: center;

                    .bi-cart4 {
                        font-size: 20px;
                    }
                }
                a {
                    color:black
                }

                .image {
                    height: 300px;
                    margin-top: 30px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                .product_text {
                    font-weight: bold;
                    text-align: center;
                }
                
                
                .product_price {
                    font-size: 18px;
                }

            }
            
            .list:hover {
                background-color: rgb(255, 255, 255);
            }

            .product {

                .image {
                    padding: 30px;
                    background-color: rgb(192, 191, 191);
                }

                .description {
                    font-size: 17px;
                    padding: 40px;
                    background-color: rgb(221, 221, 221);
                }

                .details {
                    margin: 0 auto;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: rgb(202, 202, 202);

                    .title {
                        font-size: 24px;
                        padding: 15px;
                        background-color: rgb(192, 191, 191);
                    }

                    .price {
                        text-align: right;
                        font-size: 22px;
                        padding: 12px;
                        color: rgb(0, 0, 0);
                        background-color: rgb(192, 191, 191);
                    }

                    .shopping_cart {
                        font-size: 15px;
                        text-align: right;
                        padding: 15px;
                        background-color: rgb(192, 191, 191);

                        .bi-cart4 {
                            font-size: 22px;
                        }
                    }
                }
            }

            .container {

                    .table {

                        img {
                            width: 70px;
                            height: auto;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }

                        form {
                            text-align: center;

                            div {
                                margin: 5px;

                                @media (max-width: 991px) {
                                    button {
                                        margin-top: 10px;
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
        
                        @media (max-width: 991px) {
                            .tab-full {
                                display: none;
                            }
                        }
                    }
                }

            }
        
        footer {
            width: 1200;
            height: 200px;
            background-color: rgb(177, 177, 177);
        }

        @media (min-width: 992px) {
            .mobile_nav {
                display: none;
            }
        }
        
        @media (max-width: 991px) {
            .full_nav {
                display: none;
            }
        }

        }
}